.containerSerColaborador{

    width: 100%;
    height: 100vh;

}

.mensajeReactivacion {

    width: 884px;
    /*height: 147px;*/
    color: #4F4F4F;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin-top: -115px;
    margin-left: 130px;
}

.mensajeAlimentacionSaludable {

    width: 884px;
    /*height: 147px;*/
    color: #4F4F4F;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin-top: -120px;
    margin-left: 130px;
}

.mensajeEducacion {

    width: 884px;
    /*height: 147px;*/
    color: #4F4F4F;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin-top: -127px;
    margin-left: 130px;

}

.msjSerColaborador {

    width: 884px;
    /*height: 147px;*/
    color: #4F4F4F;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin-top: 50px;
}

.tituloColaborador {

    margin-left: 30px;
    color: #333333;
}

.imgTomates {
    width: 490px;
    height: 490px;
    border-radius: 100px;
    margin-top: -51%;
    margin-left: 65%;
}

.fomentos {
    margin-top: 30px;
    margin-right: 150px;
}

.imgNave  {
    margin-top: 20px;
}

.imgHuerta, .imgFoco {

    margin-top: 40px;
}


